In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://parallelum.com.br/fipe/api/v1/carros/marcas'
response = requests.get(url)

dados = response.json()

data_list = []

if dados:
    if 'marcas' in dados:
        modelos = dados['marcas']
        for modelo in modelos:
            codigo = modelo['codigo']
            nome = modelo['nome']
            # print(f"codigo: {codigo}")
            # print(f"nome: {nome}")
            
            data_list.append({
                'codigo': codigo,
                'modelo': nome
            })
    else:  
        for modelo in dados:
            codigo = modelo['codigo']
            nome = modelo['nome']
            # print(f"codigo: {codigo}")
            # print(f"nome: {nome}")
            
            data_list.append({
                'codigo': codigo,
                'modelo': nome 
            })

df = pd.DataFrame(data_list)
display(df)

# file = 'marcas.txt'
# path = '/workspaces/api-geral/CAR/dados/'

# df.to_csv(f'{path}{file}', sep=';', index=False)
# print(f'Arquivo salvo: {file}')
# print(f'Caminho: {path}')

   codigo           modelo
0       1            Acura
1       2           Agrale
2       3       Alfa Romeo
3       4           AM Gen
4       5      Asia Motors
..    ...              ...
92     57          Troller
93     58            Volvo
94     59  VW - VolksWagen
95    163             Wake
96    120             Walk

[97 rows x 2 columns]