In [24]:
import pandas as pd
import json

In [25]:
file = '/workspaces/api-geral/CAR/repo_ford/ford/modelo_ford.txt'

In [26]:
df = pd.read_csv(file, sep=';')
display(df)

     codigo                                             modelo
0       655   {'codigo': 655, 'nome': 'Aerostar Mini-Van 3.8'}
1       656              {'codigo': 656, 'nome': 'Aspire 1.3'}
2       657     {'codigo': 657, 'nome': 'Belina GL 1.8 / 1.6'}
3       658       {'codigo': 658, 'nome': 'Belina L 1.8/ 1.6'}
4      9452  {'codigo': 9452, 'nome': 'Bronco Sport Wildtra...
..      ...                                                ...
475     921  {'codigo': 921, 'nome': 'Versailles Ghia 2.0i ...
476     922  {'codigo': 922, 'nome': 'Versailles GL 1.8i / ...
477     923  {'codigo': 923, 'nome': 'Versailles GL 2.0i / ...
478     924             {'codigo': 924, 'nome': 'Windstar GL'}
479     925             {'codigo': 925, 'nome': 'Windstar LX'}

[480 rows x 2 columns]

In [27]:
df = pd.DataFrame(df)

In [28]:
# Corrigir o formato do JSON para garantir que as chaves estejam entre aspas duplas
df['modelo'] = df['modelo'].str.replace("'", '"')

# Converter a coluna 'modelo' de strings JSON para dicionários
df['modelo'] = df['modelo'].apply(json.loads)

# Extrair as chaves do dicionário na coluna 'modelo'
df['codigo'] = df['modelo'].apply(lambda x: x['codigo'])
df['nome'] = df['modelo'].apply(lambda x: x['nome'])
# Remover a coluna 'modelo' se não for mais necessária
df.drop(columns=['modelo'], inplace=True)
display(df)

     codigo                                      nome
0       655                     Aerostar Mini-Van 3.8
1       656                                Aspire 1.3
2       657                       Belina GL 1.8 / 1.6
3       658                         Belina L 1.8/ 1.6
4      9452  Bronco Sport Wildtrak 2.0 Tb 16V AWD Aut
..      ...                                       ...
475     921        Versailles Ghia 2.0i / 2.0 2p e 4p
476     922          Versailles GL 1.8i / 1.8 2p e 4p
477     923          Versailles GL 2.0i / 2.0 2p e 4p
478     924                               Windstar GL
479     925                               Windstar LX

[480 rows x 2 columns]

In [29]:
df['id'] = 22
display(df)

     codigo                                      nome  id
0       655                     Aerostar Mini-Van 3.8  22
1       656                                Aspire 1.3  22
2       657                       Belina GL 1.8 / 1.6  22
3       658                         Belina L 1.8/ 1.6  22
4      9452  Bronco Sport Wildtrak 2.0 Tb 16V AWD Aut  22
..      ...                                       ...  ..
475     921        Versailles Ghia 2.0i / 2.0 2p e 4p  22
476     922          Versailles GL 1.8i / 1.8 2p e 4p  22
477     923          Versailles GL 2.0i / 2.0 2p e 4p  22
478     924                               Windstar GL  22
479     925                               Windstar LX  22

[480 rows x 3 columns]

In [30]:
caminho = '/workspaces/api-geral/CAR/repo_ford/ford/'
arquivo = 'modelo_ford_atlz.txt'
df = df.to_csv(f'{caminho}{arquivo}', sep= ';', index=False)
print(f'Arquivo salvo: {arquivo}')
print(f'Diretório: {caminho}')

Arquivo salvo: modelo_ford_atlz.txt
Diretório: /workspaces/api-geral/CAR/repo_ford/ford/

In [33]:
import pandas as pd
import json

file = '/workspaces/api-geral/CAR/repo_ford/ford/ka/modelo_info_ka.txt'

df = pd.read_csv(file, sep=';')
display(df)

,tipo_veiculo,valor,marca,modelo,anoModelo,combustivel,codigoFipe,mes_referencia,sigla_combustivel,Ano
0,1,"R$ 25.408,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2013,Gasolina,003325-1,março de 2024,G,2013-1
1,1,"R$ 22.175,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2012,Gasolina,003325-1,março de 2024,G,2012-1
2,1,"R$ 20.695,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2011,Gasolina,003325-1,março de 2024,G,2011-1
3,1,"R$ 18.151,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2010,Gasolina,003325-1,março de 2024,G,2010-1
4,1,"R$ 17.665,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2009,Gasolina,003325-1,março de 2024,G,2009-1
...,...,...,...,...,...,...,...,...,...,...
148,1,"R$ 39.938,00",Ford,Ka+ Sedan 1.5 SE/SE PLUS 16V Flex 4p,2015,Gasolina,003414-2,março de 2024,G,2015-1
149,1,"R$ 48.365,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2018,Gasolina,003415-0,março de 2024,G,2018-1
150,1,"R$ 43.992,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2017,Gasolina,003415-0,março de 2024,G,2017-1
151,1,"R$ 42.258,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2016,Gasolina,003415-0,março de 2024,G,2016-1
152,1,"R$ 40.059,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2015,Gasolina,003415-0,março de 2024,G,2015-1

In [34]:
df = pd.DataFrame(df)

In [35]:
df['id'] = 22
display(df)

,tipo_veiculo,valor,marca,modelo,anoModelo,combustivel,codigoFipe,mes_referencia,sigla_combustivel,Ano,id
0,1,"R$ 25.408,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2013,Gasolina,003325-1,março de 2024,G,2013-1,22
1,1,"R$ 22.175,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2012,Gasolina,003325-1,março de 2024,G,2012-1,22
2,1,"R$ 20.695,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2011,Gasolina,003325-1,março de 2024,G,2011-1,22
3,1,"R$ 18.151,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2010,Gasolina,003325-1,março de 2024,G,2010-1,22
4,1,"R$ 17.665,00",Ford,Ka 1.0 8V/1.0 8V ST Flex 3p,2009,Gasolina,003325-1,março de 2024,G,2009-1,22
...,...,...,...,...,...,...,...,...,...,...,...
148,1,"R$ 39.938,00",Ford,Ka+ Sedan 1.5 SE/SE PLUS 16V Flex 4p,2015,Gasolina,003414-2,março de 2024,G,2015-1,22
149,1,"R$ 48.365,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2018,Gasolina,003415-0,março de 2024,G,2018-1,22
150,1,"R$ 43.992,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2017,Gasolina,003415-0,março de 2024,G,2017-1,22
151,1,"R$ 42.258,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2016,Gasolina,003415-0,março de 2024,G,2016-1,22
152,1,"R$ 40.059,00",Ford,Ka+ Sedan 1.5 SEL 16V Flex 4p,2015,Gasolina,003415-0,março de 2024,G,2015-1,22

In [36]:
caminho = '/workspaces/api-geral/CAR/repo_ford/ford/ka/'
arquivo = 'modelo_info_atlz.txt'
df = df.to_csv(f'{caminho}{arquivo}', sep= ';', index=False)
print(f'Arquivo salvo: {arquivo}')
print(f'Diretório: {caminho}')

Arquivo salvo: modelo_info_atlz.txt
Diretório: /workspaces/api-geral/CAR/repo_ford/ford/ka/

In [ ]:
#teste